body {
  box-sizing: border-box;
}
.carousel-control-prev {
  color: red;
}

.carousel-control-next {
  color: blue;
}

.carousel-control-prev,
.carousel-control-next {
  size: 20px;
}

.carousel-control-prev {
  position: absolute;
  left: 0;
}

.carousel-control-next {
  position: absolute;
  right: 0;
}
.carousel-indicators {
  padding: 0;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://wallpaperbat.com/img/324145-free-night-mountain-wallpaper-1080p-at-landscape-monodomo.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/2329346.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/2329346.jpg);
}
